<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095789627246-5d25i7ftfhrgkv0ufovrk9js2ejesj8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095789627246-5d25i7ftfhrgkv0ufovrk9js2ejesj8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAdDVOLCmTURVYKkyvW5Y3oOTFsH7SDeaE</string>
	<key>GCM_SENDER_ID</key>
	<string>1095789627246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaymanoff.mesapp</string>
	<key>PROJECT_ID</key>
	<string>zamess-123e5</string>
	<key>STORAGE_BUCKET</key>
	<string>zamess-123e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095789627246:ios:f744e843a90043745b237f</string>
</dict>
</plist>